<script>
import {
  GlAlert,
  GlButton,
  GlCard,
  GlForm,
  GlFormCheckbox,
  GlFormGroup,
  GlFormInput,
  GlLink,
  GlSprintf,
} from '@gitlab/ui';
import produce from 'immer';
import { helpPagePath } from '~/helpers/help_page_helper';
import validation from '~/vue_shared/directives/validation';
import {
  CONNECTIVITY_ERROR,
  connectivityErrorAlert,
  fieldRequiredMessage,
  subscriptionActivationForm,
  subscriptionQueries,
} from '../constants';

const getLicenseFromData = ({
  data: {
    gitlabSubscriptionActivate: { license },
  },
}) => license;

const getErrorsAsData = ({
  data: {
    gitlabSubscriptionActivate: { errors },
  },
}) => errors;

export const SUBSCRIPTION_ACTIVATION_FAILURE_EVENT = 'subscription-activation-failure';
export const adminLicenseUrl = helpPagePath('/user/admin_area/license');
export const troubleshootingHelpLink = helpPagePath('user/admin_area/license.html#troubleshooting');
export const subscriptionActivationHelpLink = helpPagePath('user/admin_area/license.html');

export default {
  name: 'CloudLicenseSubscriptionActivationForm',
  components: {
    GlAlert,
    GlButton,
    GlCard,
    GlForm,
    GlFormGroup,
    GlFormInput,
    GlFormCheckbox,
    GlSprintf,
    GlLink,
  },
  i18n: {
    title: subscriptionActivationForm.title,
    howToActivateSubscription: subscriptionActivationForm.howToActivateSubscription,
    activationCode: subscriptionActivationForm.activationCode,
    pasteActivationCode: subscriptionActivationForm.pasteActivationCode,
    acceptTerms: subscriptionActivationForm.acceptTerms,
    activateLabel: subscriptionActivationForm.activateLabel,
    fieldRequiredMessage,
    alert: {
      title: connectivityErrorAlert.title,
      subtitle: connectivityErrorAlert.subtitle,
      helpText: connectivityErrorAlert.helpText,
    },
  },
  links: {
    adminLicenseUrl,
    troubleshootingHelpLink,
    subscriptionActivationHelpLink,
  },
  directives: {
    validation: validation(),
  },
  emits: [SUBSCRIPTION_ACTIVATION_FAILURE_EVENT],
  data() {
    const form = {
      state: false,
      showValidation: false,
      fields: {
        activationCode: {
          required: true,
          state: null,
          value: '',
        },
        terms: {
          required: true,
          state: null,
        },
      },
    };
    return {
      form,
      isLoading: false,
      hasConnectivityIssue: false,
    };
  },
  computed: {
    isCheckboxValid() {
      if (this.form.showValidation) {
        return this.form.fields.terms.state ? null : false;
      }
      return null;
    },
    isRequestingActivation() {
      return this.isLoading;
    },
  },
  methods: {
    submit() {
      if (!this.form.state) {
        this.form.showValidation = true;
        return;
      }
      this.form.showValidation = false;
      this.isLoading = true;
      this.hasConnectivityIssue = false;
      this.$apollo
        .mutate({
          mutation: subscriptionQueries.mutation,
          variables: {
            gitlabSubscriptionActivateInput: {
              activationCode: this.form.fields.activationCode.value,
            },
          },
          update: (cache, mutation) => {
            const license = getLicenseFromData(mutation);
            if (!license) {
              return;
            }
            const { query } = subscriptionQueries;
            const data = produce(license, (draftData) => {
              draftData.currentLicense = license;
            });
            cache.writeQuery({ query, data });
          },
        })
        .then((res) => {
          const errors = getErrorsAsData(res);
          if (errors.length) {
            if (errors.find((error) => error === CONNECTIVITY_ERROR)) {
              this.hasConnectivityIssue = true;
            }
            throw new Error();
          }
        })
        .catch(() => {
          this.$emit(SUBSCRIPTION_ACTIVATION_FAILURE_EVENT, null);
        })
        .finally(() => {
          this.isLoading = false;
        });
    },
  },
};
</script>
<template>
  <gl-card body-class="gl-p-0">
    <template #header>
      <h5 class="gl-my-0 gl-font-weight-bold">{{ $options.i18n.title }}</h5>
    </template>

    <div
      v-if="hasConnectivityIssue"
      class="gl-p-5 gl-border-b-1 gl-border-gray-100 gl-border-b-solid"
    >
      <gl-alert variant="danger" :title="$options.i18n.alert.title" :dismissible="false">
        <gl-sprintf :message="$options.i18n.alert.subtitle">
          <template #link="{ content }">
            <gl-link
              :href="$options.links.subscriptionActivationHelpLink"
              target="_blank"
              class="gl-text-decoration-none!"
              >{{ content }}</gl-link
            >
          </template>
        </gl-sprintf>
        <gl-sprintf :message="$options.i18n.alert.helpText">
          <template #link="{ content }">
            <gl-link
              :href="$options.links.troubleshootingHelpLink"
              target="_blank"
              class="gl-text-decoration-none!"
            >
              {{ content }}
            </gl-link>
          </template>
        </gl-sprintf>
      </gl-alert>
    </div>
    <div class="gl-p-5">
      <p>
        <gl-sprintf :message="$options.i18n.howToActivateSubscription">
          <template #link="{ content }">
            <gl-link href="$options.links.adminLicenseUrl" target="_blank">{{ content }}</gl-link>
          </template>
        </gl-sprintf>
      </p>
      <gl-form novalidate @submit.prevent="submit">
        <div class="gl-display-flex gl-flex-wrap">
          <gl-form-group
            class="gl-flex-grow-1"
            :invalid-feedback="form.fields.activationCode.feedback"
            data-testid="form-group-activation-code"
          >
            <label class="gl-w-full" for="activation-code-group">
              {{ $options.i18n.activationCode }}
            </label>
            <gl-form-input
              id="activation-code-group"
              v-model="form.fields.activationCode.value"
              v-validation:[form.showValidation]
              :disabled="isLoading"
              :placeholder="$options.i18n.pasteActivationCode"
              :state="form.fields.activationCode.state"
              name="activationCode"
              class="gl-mb-4"
              required
            />
          </gl-form-group>

          <gl-form-group
            class="gl-mb-0"
            :state="isCheckboxValid"
            :invalid-feedback="$options.i18n.fieldRequiredMessage"
            data-testid="form-group-terms"
          >
            <gl-form-checkbox v-model="form.fields.terms.state" :state="isCheckboxValid">
              <gl-sprintf :message="$options.i18n.acceptTerms">
                <template #link="{ content }">
                  <gl-link href="https://about.gitlab.com/terms/" target="_blank"
                    >{{ content }}
                  </gl-link>
                </template>
              </gl-sprintf>
            </gl-form-checkbox>
          </gl-form-group>

          <gl-button
            :loading="isRequestingActivation"
            category="primary"
            class="gl-mt-6 js-no-auto-disable"
            data-testid="activate-button"
            type="submit"
            variant="confirm"
          >
            {{ $options.i18n.activateLabel }}
          </gl-button>
        </div>
      </gl-form>
    </div>
  </gl-card>
</template>
